<div class="col-md-12">
    <div class="col-md-6 col-md-offset-2">
        <div id="map"></div>
    </div>
    <div class="col-md-3 arrondi">
        <input type="checkbox" value="Tous" checked="checked">Tous
        <input type="checkbox" value="En panne">En panne
        <input type="checkbox" value="A controler">A controler
        <input type="checkbox" value="Circulant">Circulant
        <ul ng-repeat="driver in drivers">
            <li>{{driver.name}}</li>
            <li>{{driver.society}}</li>
            <li>{{driver.updatedAt}}</li>
            <li>{{driver.Position.Latitude}}</li>
            <li>{{driver.Position.Longitude}}</li>
            <li></li>
        </ul>
    </div>
</div>